
    <div class="main-vases-page">
      <h1>Vases Page</h1>
      <div class="container-vase">
        <div class="container-vase-left">
          <div class="box-vase">
            <h2>A bowl for candys</h2>
            <h3>$150</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse
              quia sint veniam pariatur praesentium, dolor hic ad eveniet.
              Adipisci sunt ab commodi odit accusantium nesciunt dolorem!
              Consectetur fuga quas saepe.
            </p>
            <img src="/images/Products/vase/CandyProduct1Photo.jpg" alt="" />
            <button><a href="VasesProduct1.html">More Details</a></button>
          </div>
          <div class="box-vase">
            <h2>Small vase for flower</h2>
            <h3>$80</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse
              quia sint veniam pariatur praesentium, dolor hic ad eveniet.
              Adipisci sunt ab commodi odit accusantium nesciunt dolorem!
              Consectetur fuga quas saepe.
            </p>
            <img src="/images/Products/vase/FlowerProduct1Photo.jpg" alt="" />
            <button><a href="VasesProduct2.html">More Details</a></button>
          </div>
        </div>
        <div class="container-vase-ritgh">
          <div class="box-vase">
            <h2>A bowl for nuts</h2>
            <h3>$50</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse
              quia sint veniam pariatur praesentium, dolor hic ad eveniet.
              Adipisci sunt ab commodi odit accusantium nesciunt dolorem!
              Consectetur fuga quas saepe.
            </p>
            <img src="/images/Products/vase/NutsProduct1Photo.jpg" alt="" />
            <button><a href="VasesProduct3.html">More Details</a></button>
          </div>
          <div class="box-vase">
            <h2>Spice crushing bowl</h2>
            <h3>$120</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse
              quia sint veniam pariatur praesentium, dolor hic ad eveniet.
              Adipisci sunt ab commodi odit accusantium nesciunt dolorem!
              Consectetur fuga quas saepe.
            </p>
            <img src="/images/Products/vase/SpiceProduct1Photo.jpg" alt="" />
            <button><a href="VasesProduct4.html">More Details</a></button>
          </div>
        </div>
      </div>
    </div>

