

    <!-- --------- Page Content ----------- -->
    <div class="main_sculp_page">
      <h1>Sculptures Page</h1>
      <hr />
      <div class="container_products_left">
        <div>
          
          <img src="/images/Products/sculpts/NapkinProduct1Photo.jpg" />
          <h2>Napkin and wine dispenser</h2>
          <h3>$150</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam
            temporibus quae, corporis voluptas facilis autem labore voluptatum,
            pariatur nihil eveniet sapiente accusantium facere magnam, amet
            iusto commodi doloremque soluta dolorum.
          </p>
          <button> <a href="sculptProduct1.html" >More Details</a></button>
        </div>
        <div>
          <img src="/images/Products/sculpts/WiskiProduct1Photo.jpg" />
          <h2>Whiskey stand</h2>
          <h3>$90</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam
            temporibus quae, corporis voluptas facilis autem labore voluptatum,
            pariatur nihil eveniet sapiente accusantium facere magnam, amet
            iusto commodi doloremque soluta dolorum.
          </p>
          <button> <a href="sculptProduct2.html" >More Details</a></button>
        </div>
      </div>
      <div class="container_products_right">
        <div>
          
          <img src="/images/Products/sculpts/HandProduct1Photo.jpg" />
          <h2>A hand emerging from an open</h2>
          <h3>$85</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam
            temporibus quae, corporis voluptas facilis autem labore voluptatum,
            pariatur nihil eveniet sapiente accusantium facere magnam, amet
            iusto commodi doloremque soluta dolorum.
          </p>
          <button> <a href="sculptProduct3.html" >More Details</a></button>
        </div>
        <div>
          
          <img src="/images/Products/sculpts/TongueProduct1Photo.jpg" />
          <h2>Tongue and lower jaw with inscription</h2>
          <h3>$120</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam
            temporibus quae, corporis voluptas facilis autem labore voluptatum,
            pariatur nihil eveniet sapiente accusantium facere magnam, amet
            iusto commodi doloremque soluta dolorum.
          </p>
          <button> <a href="sculptProduct4.html" >More Details</a></button>
        </div>
      </div>
    </div>

    

