<ul>
  <li><a routerLink="/Category1-comp_path">Category1 link</a></li>
  <li><a routerLink="/Category2-comp_path">Category2 link</a></li>
  <li><a routerLink="/Footer-comp_path">Footer-comp link</a></li>
  <li><a routerLink="/Main-comp_path">Main-comp link</a></li>
  <li><a routerLink="/Menu-comp_path">Menu-comp link</a></li>
  <li><a routerLink="/Product1-comp_path">Product1-comp link</a></li>
  <li><a routerLink="/Product3-comp_path">Product3-comp link</a></li>
  <li><a routerLink="/Product4-comp_path">Product4-comp link</a></li>
  <li><a routerLink="/Product5-comp_path">Product5-comp link</a></li>
  <li><a routerLink="/Product6-comp_path">Product6-comp link</a></li>
  <li><a routerLink="/Product7-comp_path">Product7-comp link</a></li>
  <li><a routerLink="/Product8-comp_path">Product8-comp link</a></li>

</ul>
<router-outlet></router-outlet>
