
    <!------------------------header-------------------------------->
    <div class="header_products">
      <h1>A whiskey stand and two glasses</h1>
    </div>

    <!-------------------------Content Page ----------------------------->
    <div class="main_product_page">
      <div class="content_main_photo">
        <img
          src="/images/Products/sculpts/WiskiProductMainPhoto.jpg"
          alt="napkinPhoto"
        />

        <h2>A whiskey stand and two glasses</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus dolorem
          est quos maiores veniam nihil. Repellat fugiat quam tenetur eius
          impedit, blanditiis facere nam ratione saepe rem nostrum harum
          necessitatibus!
        </p>
      </div>
      <div class="second_product_photo">
        <img
          src="/images/Products/sculpts/WiskiProduct1Photo.jpg"
          alt="dogSecondPicture"
        />
        <div class="second_product_text">
          <h3>Front View</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Perspiciatis pariatur optio expedita facilis earum aspernatur
            molestias hic est, explicabo commodi debitis eos id, dignissimos quo
            quibusdam quaerat adipisci. Id, suscipit?
          </p>
        </div>
      </div>
      <div class="third_product_photo">
        <div class="third_product_text">
          <h3>Back View</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi alias
            fuga deleniti placeat corporis laudantium, odit id, voluptas
            temporibus officia, eius repudiandae quae voluptatum consequuntur
            tempore? Nesciunt adipisci mollitia nam.
          </p>
        </div>
        <img src="/images/Products/sculpts/WiskiProduct2Photo.jpg" alt="" />
      </div>
    </div>