
    <!------------------------menu-------------------------------->
    <div class="top_menu">
        <div class="menu">
          <!-- <div>
          <a href="index.html">logo place</a>
      </div> -->
          <ul>
            <li>
              <a href="index.html"><span>H</span>ome</a>
            </li>
            <li>
              <a href="sculpturs.html"><span>S</span>culpturs</a>
            </li>
            <li></li>
            <li>
              <a href="vases.html"><span>V</span>ases</a>
            </li>
            <li>
              <a href="contact.html"><span>C</span>ontact</a>
            </li>
          </ul>
        </div>
    </div>