
    <!------------------------main image-------------------------------->
    <div class="home_img">
      <img src="images/pic1.jpg" alt="Vitage Car picture one" />
    </div>

    <!------------------------header-------------------------------->
    <div class="header_container">
      <h1 class="header_text">Wood Sculpting</h1>
    </div>

    <!-------------------------boxes----------------------------->
    <div class="main">
      <div class="box_left">
        <div class="content">
          <img src="images/pic2.jpg" alt="private" />
          <h4>Elefant Sculpt</h4>
          <p>Elefant Sculpture from rose wood</p>
        </div>
      </div>
      <div class="box_right">
        <div class="box">
          <div class="content">
            <img src="images/pic3.jpg" alt="private" />
            <h4>Woman wood Sculpt</h4>

            <p>Woman sculpture from rose wood</p>
          </div>
        </div>

        <div class="box_right_bottom">
          <div class="content">
            <img src="images/pic4.jpg" alt="private" />
            <h4>Eagle wood Sculpt</h4>
            <p>Eagle wood sculpt from rose wood</p>
          </div>
        </div>
      </div>
    </div>

